<div>
    <h2 id="page-heading">
        <span>User Suspensions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-suspension" [routerLink]="['/user-suspension/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new User Suspension
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="userSuspensions?.length === 0">
        <span>No userSuspensions found</span>
    </div>
    <div class="table-responsive" *ngIf="userSuspensions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Email Id</span></th>
            <th><span>Retry Count</span></th>
            <th><span>Suspension Time In Minutes</span></th>
            <th><span>Reason</span></th>
            <th><span>Created Date</span></th>
            <th><span>Modified Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userSuspension of userSuspensions ;trackBy: trackId">
                <td><a [routerLink]="['/user-suspension', userSuspension.id, 'view' ]">{{userSuspension.id}}</a></td>
                <td>{{userSuspension.emailId}}</td>
                <td>{{userSuspension.retryCount}}</td>
                <td>{{userSuspension.suspensionTimeInMinutes}}</td>
                <td>{{userSuspension.reason}}</td>
                <td>{{userSuspension.createdDate | date:'mediumDate'}}</td>
                <td>{{userSuspension.modifiedDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/user-suspension', userSuspension.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-suspension', userSuspension.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'user-suspension', { outlets: { popup: userSuspension.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
